.navbar{
    background-color: #212A3E;
    justify-content: center;
    align-items: center;
}
.logo{
    height: auto;
    max-width: 65px;
    padding: 15px;
}
.navbar-left{
    display:flex;
    justify-content: center;
    align-items: center;
}