@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lalezar&display=swap');
.catalogue{
    display: grid;
    grid-template-columns: repeat(7,200px);
    grid-gap: 11px;
    margin: 30px;
}
body{
    
    margin: 0;
    background-color: #F1F6F9;
}
.side-scroll{
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 2em;
    margin: 20px 40px;    
}
.side-scroll .card{
    width: 170px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 0.8em;
}
h2{   
    font-family: "Hammersmith One";
    font-weight:bolder ;
    margin: 0 0 0 40px;
}
.side-scroll::-webkit-scrollbar{ 
    height: 0.8em;
    
}
.side-scroll::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}
.side-scroll::-webkit-scrollbar-track{
    background: rgb(202, 202, 202);
    border-radius: 10px;
}
.container{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    background-color: #EEEEEE;
    
}
.content{
    display: flex;
    margin: 0 70px;
    align-items: center;
    justify-content: space-between;
}
.navbar-left{
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn-card{
    border:none;
    border-radius: 10px;
    cursor: pointer;
    padding: 0;
    transition: all 0.2s ease-in-out;
}
.btn-card:hover{
    filter: brightness(80%);
}
.detail-poster{
    border-radius: 10px;
}

.container h2{
    padding-top: 30px;
}
.info p{
    color: white;
}
.cast-info{
    display: block;
}